- module: elasticsearch
  service.name: elastic_metricbeat_monitor
  xpack.enabled: true
  metricsets:
    - node
    - node_stats
    - index
    - index_recovery
    - index_summary
    - shard
  period: 10s
  hosts: 
  {% if elk_auth_ssl == "yes" %}
  {% for host in groups['elastic'] %}
  - "https://{{ hostvars[host]['ansible_host'] }}:{{ es_port }}"
  {% endfor %}

  username: "{{ es_username }}"
  password: "{{ es_password }}"
  ssl.certificate_authorities: ["{{ metricbeat_certs_dir }}/{{ elasticsearch_ca_pem }}"]
  {% else %}

  {% for host in groups['elastic'] %}
  - "http://{{ hostvars[host]['ansible_host'] }}:{{ es_port }}"
  {% endfor %}
  {% endif %}
