metricbeat.modules:
- module: kibana
  xpack.enabled: true
  metricsets: 
    - cluster_actions
    - cluster_rules
    - node_actions
    - node_rules
    - settings
    - stats
    - status
  period: 10s
  hosts: 
  {% for host in groups['kibana'] %}
  - "https://{{ hostvars[host]['ansible_host'] }}:5601"
  {% endfor %}

  username: "{{ ki_username }}"
  password: "{{ ki_password }}"
  ssl.certificate_authorities: ["{{ metricbeat_certs_dir }}/{{ elasticsearch_ca_pem }}"]
