###################### Metricbeat Configuration Example #######################

# =========================== Modules configuration ============================

metricbeat.config.modules:
  # Glob pattern for configuration loading
  path: ${path.config}/modules.d/*.yml

  # Set to true to enable config reloading
  reload.enabled: false

  # Period on which files under path should be checked for changes
  #reload.period: 10s

# ======================= Elasticsearch template setting =======================

setup.template.settings:
  index.number_of_shards: {{ metricbeat_number_of_shards }}
  index.number_of_replicas: {{ metricbeat_number_of_replicas }}
  index.codec: best_compression

# ================================== General ===================================

# The name of the shipper that publishes the network data. It can be used to group
# all the transactions sent by a single shipperin the web interface.
#name:

# The tags of the shipper are included in their own field with each
# transaction published.
#tags: ["service-X", "web-tier"]

# Optional fields that you can specify to add additional information to the
# output.
#fields:
#  env: staging

# ================================= Dashboards =================================
#setup.dashboards.enabled: false

#setup.dashboards.url:

{% if setup_kibana_dashboards == "yes" %}
# =================================== Kibana ===================================
setup.kibana:
{% if elk_auth_ssl == "yes" %}
  host:
  {% for host in groups['kibana'] %}
  - {{ hostvars[host]['ansible_host'] }}:{{ ki_port }}
  {% endfor %}
  
  ssl:
    enabled: true
    certificate_authorities: "{{ filebeat_certs_dir }}/{{ elasticsearch_ca_pem }}"
  {% else %}
  host:
  {% for host in groups['kibana'] %}
  - {{ hostvars[host]['ansible_host'] }}:{{ ki_port }}
  {% endfor %}
{% endif %}
{% endif %}
# ---------------------------- Elasticsearch Output ----------------------------
output.elasticsearch:
# Array of hosts to connect to.
{% if elk_auth_ssl == "yes" %}
  hosts: 
  {% for host in groups['elastic_master'] %}
  - {{ hostvars[host]['ansible_host'] }}:{{ es_port }}
  {% endfor %}
  protocol: "https"
  username: "{{ es_username }}"
  password: "{{ es_password }}"
  ssl:
    enabled: true
    certificate_authorities: ["{{ metricbeat_certs_dir }}/{{ elasticsearch_ca_pem }}"]
   # ca_trusted_fingerprint: "{{ ca_trusted_fingerprint }}"
  {% else %}
  hosts: 
  {% for host in groups['elastic_master'] %}
  - {{ hostvars[host]['ansible_host'] }}:{{ es_port }}
  {% endfor %}
{% endif %}

processors:
  - add_host_metadata: ~
  - add_cloud_metadata: ~
  - add_docker_metadata: ~
  - add_kubernetes_metadata: ~

