- module: elasticsearch
  # Server log
  server:
    enabled: true
    # Set custom paths for the log files. If left empty,
    # Filebeat will choose the paths depending on your OS.
    var.paths:
      - {{ elasticsearch_log_dir }}/*.log          
      - {{ elasticsearch_log_dir }}/*_server.json

  gc:
    enabled: true
    # Set custom paths for the log files. If left empty,
    # Filebeat will choose the paths depending on your OS.
    var.paths: 
      - {{ elasticsearch_log_dir }}/gc.log.[0-9]*
      - {{ elasticsearch_log_dir }}/gc.log

  audit:
    enabled: true
    # Set custom paths for the log files. If left empty,
    # Filebeat will choose the paths depending on your OS.
    var.paths:
      - {{ elasticsearch_log_dir }}/*_access.log
      - {{ elasticsearch_log_dir }}/*_audit.json

  slowlog:
    enabled: true
    # Set custom paths for the log files. If left empty,
    # Filebeat will choose the paths depending on your OS.
    var.paths:
      - {{ elasticsearch_log_dir }}/*_index_search_slowlog.log
      - {{ elasticsearch_log_dir }}/*index_indexing_slowlog.log
      - {{ elasticsearch_log_dir }}/*_index_search_slowlog.json
      - {{ elasticsearch_log_dir }}/*index_indexing_slowlog.json
 

  deprecation:
    enabled: true
    # Set custom paths for the log files. If left empty,
    # Filebeat will choose the paths depending on your OS.
    var.paths:
      - {{ elasticsearch_log_dir }}/*deprecation.log
      - {{ elasticsearch_log_dir }}/*deprecation.json
