upstream kibana {
  server 127.0.0.1:{{ ki_port }};
}

server {
  listen 80;
  server_name {{ dns_kibana }};
  return 301 https://$server_name$request_uri;
}

server {
  listen 443 ssl;

  server_name {{ dns_kibana }};

  ssl_certificate {{ kibana_certs_dir }}/kibana.crt;
  ssl_certificate_key {{ kibana_certs_dir }}/kibana.key;

  auth_basic "Restricted Access";
  auth_basic_user_file {{ nginx_conf_dir }}/.htpasswd.kibana;

  location / {
    proxy_pass https://{{ dns_kibana }};
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection 'upgrade';
    proxy_set_header Host $host;
    proxy_cache_bypass $http_upgrade;
  }
}
