server.port: {{ ki_port }}

server.host: 0.0.0.0

server.publicBaseUrl: "https://{{ hostvars[groups['kibana'][0]]['ansible_host'] }}:{{ ki_port }}"

server.ssl.enabled: true

server.ssl.certificate: {{ kibana_certs_dir }}/kibana.crt

server.ssl.key: {{ kibana_certs_dir }}/kibana.key

elasticsearch.hosts:
{% for host in groups['elastic'] %}
  - https://{{ hostvars[host]['ansible_host'] }}:{{ es_port }}
{% endfor %}

elasticsearch.username: "{{ ki_username }}"
elasticsearch.password: "{{ ki_password }}"

elasticsearch.ssl.certificateAuthorities: [ "{{ kibana_certs_dir }}/elastic-certificates.pem" ]
monitoring.ui.ccs.enabled: true

logging:
  appenders:
    file:
      type: file
      fileName: {{ kibana_log_dir }}/kibana.log
      layout:
        type: json
  root:
    appenders:
      - default
      - file
pid.file: {{ kibana_pid_dir }}/kibana.pid
