{% if es_cluster_name is not defined %}
cluster.name: {{ clustername }}
{% endif %}

node.name: {{inventory_hostname}}

node.roles:
{% if inventory_hostname in groups['elastic_master'] %}
{% for role in elasticsearch_default_node_roles %}
  - {{ role }}
{% endfor %}
{% else %}
{% for role in elasticsearch_master_is_also_data_node %}
  - {{ role }}
{% endfor %}
{% endif %}

path:
  data: {{ elasticsearch_data_dir }}
  logs: {{ elasticsearch_log_dir }}

network.host: 0.0.0.0

http.port: {{ es_port }}

discovery.seed_hosts:
{% for host in groups['elastic'] %}
  - {{ host }}
{% endfor %}

cluster.initial_master_nodes:
{% for host in groups['elastic_master'] %}
  - {{ host }}
{% endfor %}

xpack.security.enabled: true
xpack.security.enrollment.enabled: true
xpack.monitoring.collection.enabled: true

xpack.security.http.ssl:
  enabled: true
  key: certs/http.key
  certificate: certs/http.crt

xpack.security.transport.ssl:
  enabled: true
  verification_mode: certificate
  client_authentication: required
  keystore.path: certs/elastic-certificates.p12
  truststore.path: certs/elastic-certificates.p12

http.host: 0.0.0.0
