input {
	beats {
		port => {{ lo_port }}
	}
}

## Add your filters / logstash plugins configuration here

output {
{% if elk_auth_ssl == "yes" %}
	elasticsearch {
		hosts => [{% for host in groups['elastic'] %}"{{ hostvars[host]['ansible_host'] }}:{{ es_port }}"{% if not loop.last %},{% endif %}{% endfor %}]
		index => "{{ inventory_hostname }}-%{+YYYY.MM.dd}"
		user => "{{ es_username }}"
		password => "{{ es_password }}"
		ssl_certificate_verification => false
    ssl => true
	}
{% else %}
	elasticsearch {
		hosts => [{% for host in groups['elastic'] %}"{{ hostvars[host]['ansible_host'] }}:{{ es_port }}"{% if not loop.last %},{% endif %}{% endfor %}]
		index => "{{ inventory_hostname }}-%{+YYYY.MM.dd}"
	}
{% endif %}
}
